.square-btn {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.gps-icon{
width: 40;
}
.bb{
    width: 600px;
}